<div class="flex vh-100 bg-black-70 white verdana overflow-hidden">

    <div class="flex-grow-1 pa2 flex flex-column" data-controller="editor">
      <div>
        <% css_boton="bg-blue ma1 pulsable white br2 pa2 bn pointer" %>

        <button
          type="button"
          id="ejecutar"
          data-action="click->editor#ejecutar"
          data-target="editor.botonEjecutar"
          class="<%= css_boton %>">► Ejecutar</button>

        <button
          type="button"
          id="ejecutar"
          data-action="click->editor#detener"
          data-target="editor.botonDetener"
          class="<%= css_boton %> dn">✖ Detener</button>

        <button
          type="button"
          data-action="click->editor#transformar"
          class="<%= css_boton %>">Generar AST e instrumentar</button>

      </div>

      <pre
        data-target="editor.consola"
        class="flex-grow-1 pa2 lh-copy bg-black overflow-y-scroll"></pre>
    </div>

    <div class="w1 bg-light-gray">
    </div>

    <div id="container" class="w-50 v-100"></div>

</div>

<script src="monaco-editor/min/vs/loader.js"></script>
<script>
  require.config({ paths: { 'vs': 'monaco-editor/min/vs' }});
  require(['vs/editor/editor.main'], function() {
    var editor = monaco.editor.create(document.getElementById('container'), {
      value: `declare function print(nombre: string): any;

class Actor {
  contador: number = 0;

  iniciar() {
    print("hola");
  }

  actualizar() {
    this.contador += 1;
    print("El contador vale " + this.contador);

    if (this.contador > 3) {
      print("El contador supera el número 3!");

      if (this.contador > 5) {
        print("Regresando el contandor a 0");
        this.contador = 0;
      }
    } else {
      print("continuando...");
    }
  }
}
`.trim(),
      theme: "vs-dark",
      minimap: { enabled: false },
      language: "typescript",
      fontSize: 20,
	    contextmenu: false,
    });

    window.onresize = function() {
      editor.layout();
    };

    window.editor = editor;

  });
</script>
